<turbo-frame id="tf-view">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <h1>Build A Ship</h1>
                <p>Build a ship using parts you or anyone else has created</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5 top-deck">
            <div class="col-2 d-flex justify-content-end align-items-end p-0">
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>bridge</button>
                <span class="node-horizontal ms-1"></span>
            </div>
            <div class="col-2 d-flex justify-content-start align-items-end p-0">
                <span class="node-horizontal me-1"></span>
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>com dish</button>
            </div>
        </div>
        <span class="node-vertical my-1" style="height: 80px"></span>
        <div class="row justify-content-center">
            <div class="col-2 d-flex justify-content-center p-0">
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>cockpit</button>
                <span class="node-horizontal ms-1"></span>
            </div>
            <div class="col-3 d-flex justify-content-center p-0">
                <span class="node-horizontal me-1"></span>
                <button class="btn btn-outline-dark btn-build fs-4 big-part"><i class="bi bi-plus fs-1"></i><br>warp mechanism</button>
                <span class="node-horizontal ms-1"></span>
            </div>
            <div class="col-2 d-flex justify-content-center p-0">
                <span class="node-horizontal me-1"></span>
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>thruster</button>
            </div>
        </div>
        <span class="node-vertical my-1"></span>
        <div class="row justify-content-center">
            <div class="col-2 d-flex justify-content-center align-items-end p-0">
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>primary weapon</button>
                <span class="node-horizontal ms-1"></span>
            </div>
            <div class="col-2 d-flex justify-content-center p-0">
                <span class="node-horizontal me-1"></span>
                <button class="btn btn-outline-dark btn-build fs-4 big-part"><i class="bi bi-plus fs-1"></i><br>frame</button>
                <span class="node-horizontal ms-1"></span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-end p-0">
                <span class="node-horizontal me-1"></span>
                <button class="btn btn-outline-dark btn-build fs-4 small-part"><i class="bi bi-plus fs-1"></i><br>backup weapon</button>
            </div>
        </div>
    </div>
</turbo-frame>
