<turbo-frame id="tf-view">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <h1>Build A Ship</h1>
                <p>Build a ship using parts you or anyone else has created</p>
            </div>
        </div>
    </div>
</turbo-frame>
