<turbo-frame id="tf-view">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <h1>Create A Part</h1>
                <p>Create a part, from thrusters, to warp cores, cockpits with Alpaca seats to Neutrino missiles, the
                    only limit is your imagination.</p>
            </div>
        </div>
        <turbo-frame id="tf-create-a-part">
            {% include 'components/parts/part-form.html.twig' with {partForm:createPartForm} only %}
        </turbo-frame>
    </div>
</turbo-frame>