{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container-fluid p-0 d-flex" {{ stimulus_controller('global-dom') }}>
        {% include 'components/nav.html.twig' %}
        <section class="content">
            {% block view %}{% endblock %}
            <div class='air air1'></div>
            <div class='air air2'></div>
            <div class='air air3'></div>
        </section>
    </div>
{% endblock %}