{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container-fluid p-0 d-flex flex-column flex-lg-row" {{ stimulus_controller('global-dom') }}>
        {% include 'components/nav.html.twig' %}
        <section class="content pt-4">
            <turbo-frame id="tf-view" src="/main/shipyard">

            </turbo-frame>
            {% include 'components/alert-drawer.html.twig' %}
            <div class='air air1'></div>
            <div class='air air2'></div>
            <div class='air air3'></div>
        </section>
    </div>

    {% include 'components/templates/alert-template.html.twig' %}
{% endblock %}