<div class="d-flex">
    {{ component('Dropdown', {classes:'',dropdownName:'Filter'}) }}
    {{ component('Dropdown', {classes:'ms-2',dropdownName:'Part Type'}) }}
    {{ component('Dropdown', {classes:'ms-2',dropdownName:'Sort'}) }}
    {{ component('Dropdown', {classes:'ms-2',dropdownName:'Test'}) }}

</div>
