@import "bootstrap";
@import "bootstrap-icons";
@import "wave";
@import "controls";
@import "space.scss";
@import "animations.scss";

@font-face {
    font-family: starfield;
    src: url('../fonts/Orbitron-VariableFont_wght.ttf');
}
body {
    font-family: starfield, serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    background-color: lightgray;
    color:#05122d;

}
.bg-nav{
    background-color: #05122d;
}
@media only screen and (max-width: 991px) {
    .nav-dimensions{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 992px) {
    .nav-dimensions{
        width: 18.5rem;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #c4c4c4 inset !important;
    color: #05122d!important;
}

.nav-link{
    font-size: 1.5em;
    color:white;
    padding: 4px 12px;
    width: 100%;
}

.nav-link:hover{
    background-color: white;
    color:#05122d;
    cursor: pointer;
}
.nav-link.active{
    color: #9d9d9d;
}
.nav-link.active:hover{
    color: #9d9d9d;
    background-color: #05122d;
    cursor: default;
}

.content-text{
    font-size: 1.5em;
    color:white;
}

.content{
    color:#05122d;
    font-size: 1.25em;
}
.btn-dark{
    background-color:#05122d;
    color: white;
    letter-spacing: 0.2em;
    font-size: 1em;
}
.dropdown-menu-dark{
    background-color:#05122d;
    color: white;
    letter-spacing: 0.2em;
    font-size: 0.75em;
}
.dropdown-item{
    background-color:#05122d;
    color:white;
}
.dropdown-item:hover{
    background-color: white;
    color:#05122d;
    cursor: pointer;
}
.dropdown-item.active{
    color: #9d9d9d;
    background-color:#05122d;
}

.splash-content{
    margin-top: 12em;
}

.tab-btn:hover{
    cursor: pointer;
    color:#05122d;
    background: transparent;
    border:0;
    border-bottom: 2px solid #05122d!important;
}
.tab-btn{
    color:#05122d;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}
.tab-btn.active{
    border:0;
    background: transparent!important;
    color: #575757!important;
    border-bottom: 2px solid #05122d!important;

}
.tab-btn.active:hover{
    cursor: default;
    color: #575757;
}