.star-text-input{
    color:#05122d;
    background-color: #c4c4c4;
    border: 0.15rem none #05122d;
    border-top-style: solid;
    border-right-style: solid;
    border-radius: 0 4px 0 0;
    font-size: 1.25em;
    box-shadow: none!important;
    transform: skewX(-20deg);
    padding-top: 0;
    padding-bottom: 0;
}
.star-text-input:focus{
    background-color: #c4c4c4;
    border: 0.15rem none #05122d;
    border-top-style: solid;
    border-right-style: solid;
}
.star-input-label{
    color:#05122d;
    font-size: 0.75em;
    padding-left:0.7rem;
    font-style: italic;
}
.btn-add{
    border:0.15rem dashed #05122d;
    padding: 80px !important;
    max-height: 350px;
}
.btn-add:hover{
    background-color: #05122d;
}
.btn-build{
    border:0.15rem dashed #05122d;
    padding: 40px !important;

}
.btn-build:hover{
    background-color: #05122d;
}

.node-horizontal{
    border:1px solid black;
    width: 100%;
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.node-vertical{
    border:1px solid black;
    width: 0;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
.node-tall{
    height: 100px!important;
}
.top-deck{
    margin-bottom: -75px;
}
.big-part{
    padding: 8px 80px !important;
}
.small-part{
    padding: 8px!important;
}

th, td{
    background: #c4c4c4!important;
}
tr:hover{
    cursor: pointer;
}

.input-group-text{
    background: transparent;
    border:0;
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
}
.btn-link{
    color:#05122d;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.logout:hover{
    background-color: #cb3030!important;
    color: white !important;
}

.outline-btn-blue{
    color:#05122d;
    border: 1px solid #05122d;
}

.outline-btn-blue:hover{
    color:#c4c4c4;
    background-color:#05122d;
    border: 1px solid #05122d;
}
.alert-btn{
    position:fixed;
    top:50%;
    right: -6px;
}

.drawer-bg{
    background-color: rgba(196, 196, 196);
}
.drawer-hr{
    background:#05122d;
    border: 1px solid #05122d;
}

.alert-bg{
    background:#05122d;
    color:#c4c4c4;
}