{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="container-lg" {{ stimulus_controller('splash') }}>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="splash-content">
                        <h1 class="text-center display-1"><i class="bi bi-rocket-takeoff me-2"></i>Dry Dock</h1>
                        <div class="d-flex justify-content-center mt-5">
                            <button type="button" class="btn btn-danger fw-bold btn-lg" {{ stimulus_action('splash','showSplash') }}>Let's Go</button>
                        </div>
                        <div class="d-none" {{ stimulus_target('splash','splashDiv') }}>
                            <div class="nav nav-tabs flex-row flex-nowrap justify-content-center border-0 mb-3" id="nav-tab"
                                 role="tablist">
                                <button class="nav-link border-0 tab-btn active" id="welcome-tab" data-bs-toggle="tab"
                                        data-bs-target="#welcome-panel" type="button" role="tab"
                                        aria-controls="welcome-panel" aria-selected="true">Home
                                </button>
                                <button class="nav-link border-0 tab-btn" id="login-tab" data-bs-toggle="tab"
                                        data-bs-target="#login-panel" type="button" role="tab" aria-controls="login-tab"
                                        aria-selected="false">Login
                                </button>
                                <button class="nav-link border-0 tab-btn" id="register-tab" data-bs-toggle="tab"
                                        data-bs-target="#register-panel" type="button" role="tab"
                                        aria-controls="register-tab" aria-selected="false">Register
                                </button>
                            </div>
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="welcome-panel" role="tabpanel"
                                     aria-labelledby="welcome-tab" tabindex="0">
                                    {% include 'components/welcome-text.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="login-panel" role="tabpanel" aria-labelledby="login-tab"
                                     tabindex="0">
                                    {% include'components/login.html.twig' %}
                                </div>
                                <div class="tab-pane fade" id="register-panel" role="tabpanel"
                                     aria-labelledby="register-tab"
                                     tabindex="0">
                                    {% include'components/register.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
    </section>
{% endblock %}