<turbo-frame id="{{ turboId }}">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <i class="text-danger fs-2 bi bi-exclamation-circle-fill me-2"></i>
            <br>
            <span class="text-danger fs-2">{{ message }}</span>
        </div>
    </div>

</turbo-frame>