<nav class="navbar navbar-expand-lg bg-nav">
    <div class="container-fluid ps-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarExpanded" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-dimensions vh-100 flex-column align-items-start" id="navbarExpanded">
            <span class="content-text ps-2"><i class="bi bi-rocket-takeoff me-2"></i>Dry Dock</span>
            <hr class="text-white w-100">
            <a class="navbar-brand nav-link {{ view=='shipyard'?'active':'' }}"><i class="bi bi-boxes me-2"></i>Shipyard</a>
            <a class="navbar-brand nav-link {{ view=='view-parts'?'active':'' }}"><i class="bi bi-search me-2"></i>View Parts</a>
            <a class="navbar-brand nav-link {{ view=='create-part'?'active':'' }}"><i class="bi bi-gear me-2"></i>Create Part</a>
            <a class="navbar-brand nav-link {{ view=='build-ship'?'active':'' }}"><i class="bi bi-wrench me-2"></i>Build Ship</a>
        </div>
    </div>
</nav>