<table class="table table-hover parts-table">
    <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Power</th>
        <th scope="col">Attributes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Thruster</th>
        <td>Rear Ion Thruster</td>
        <td>Ion particle thruster, slowly produces thrust for conventional space travel</td>
        <td>23</td>
        <td>Vacuum bonus, requires 0 atmosphere</td>
    </tr>
    <tr>
        <th scope="row">Thruster</th>
        <td>Rear Ion Thruster</td>
        <td>Ion particle thruster, slowly produces thrust for conventional space travel</td>
        <td>23</td>
        <td>Vacuum bonus, requires 0 atmosphere</td>
    </tr>
    <tr>
        <th scope="row">Thruster</th>
        <td>Rear Ion Thruster</td>
        <td>Ion particle thruster, slowly produces thrust for conventional space travel</td>
        <td>23</td>
        <td>Vacuum bonus, requires 0 atmosphere</td>
    </tr>
    <tr>
        <th scope="row">Thruster</th>
        <td>Rear Ion Thruster</td>
        <td>Ion particle thruster, slowly produces thrust for conventional space travel</td>
        <td>23</td>
        <td>Vacuum bonus, requires 0 atmosphere</td>
    </tr>
    <tr>
        <th scope="row">Weapon</th>
        <td>Rail gun</td>
        <td>Fires solid kinetic projectile</td>
        <td>66</td>
        <td>overcharge, atmospheric penalty</td>
    </tr>
    <tr>
        <th scope="row">Weapon</th>
        <td>Rail gun</td>
        <td>Fires solid kinetic projectile</td>
        <td>66</td>
        <td>overcharge, atmospheric penalty</td>
    </tr>
    <tr>
        <th scope="row">Weapon</th>
        <td>Rail gun</td>
        <td>Fires solid kinetic projectile</td>
        <td>66</td>
        <td>overcharge, atmospheric penalty</td>
    </tr>
    <tr>
        <th scope="row">Weapon</th>
        <td>Rail gun</td>
        <td>Fires solid kinetic projectile</td>
        <td>66</td>
        <td>overcharge, atmospheric penalty</td>
    </tr>
    <tr>
        <th scope="row">Weapon</th>
        <td>Rail gun</td>
        <td>Fires solid kinetic projectile</td>
        <td>66</td>
        <td>overcharge, atmospheric penalty</td>
    </tr>
    </tbody>
</table>