<div class="row justify-content-center mb-4">
    <div class="col col-lg-5">
        <div class="d-flex">
            <div class="w-100">
                <label class="star-input-label" for="register-name">Captain Name</label>
                <input class="form-control star-text-input" type="text" value="Cpt. " aria-label="register-name" id="register-name">
            </div>
            <span class="input-group-text align-items-end" ><i class="bi bi-chevron-double-up"></i></span>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col col-lg-5">
        <div class="d-flex">
            <div class="w-100">
                <label class="star-input-label" for="register-email">Email</label>
                <input class="form-control star-text-input" type="email"  aria-label="register-email" id="register-email">
            </div>
            <span class="input-group-text align-items-end" ><i class="bi bi-person-fill"></i></span>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col col-lg-5">
        <div class="d-flex">
            <div class="w-100">
                <label class="star-input-label" for="register-password">Password</label>
                <input class="form-control star-text-input" type="password"  aria-label="register-password" id="register-password">
            </div>
            <span class="input-group-text align-items-end" ><i class="bi bi-shield-lock-fill"></i></span>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-lg-5 ps-3">
        <button class="btn btn-danger fw-bold btn-lg">Register</button>
    </div>
</div>