<turbo-frame id="{{ turboId }}">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <i class="text-success fs-2 bi bi-check-circle-fill"></i>
            <br>
            <span class="text-success fs-2">{{ message }}</span>
        </div>
    </div>

</turbo-frame>